.feedback-popup {    
  width: 333px; 
  height: 246px;  
  background-color: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5); 
  z-index: 1000;  
  right: 18px;
  .feedback-content {
    padding: 12px; 
    .form-control {
        height: unset !important;
    }
  }
}
  .feedback-saved {
    text-align: center; 
    color: green;       
    font-weight: light; 
  }
  .like-unline {
  color:#adadad;
  gap: 20px;
}
